<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Донирај Крв</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <style>
        body{
            background: linear-gradient(#ddd,#fff);
        }
    </style>

</head>
@*<body>
    <div class="navbar navbar-inverse bg-white navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Донирај крв", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("За нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт информации", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content ">
        @RenderBody()
        <hr />

    </div>
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Донирај Крв</p>
    </footer>


</body>*@
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a href="/Home" class="navbar-brand">
                    <img src="~/Content/images/logo1.png"  width="80" /> 
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Index">Почетна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/About">За нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Info">Информации</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Contact">Контакт</a>
                        </li>



                        @Html.Partial("_LoginPartial")
                        @*<li class="nav-item">
                    <a class="nav-link text-dark" href="/Account/Login/">Логирај се</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/Account/Register/">Регистрирај се</a>
                </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="text-center">
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Донирај крв
            </div>
        </footer>
    </div>
  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
