@model List<SistemZaDonaciiNaKrv.Models.DonationModel>

@{
    ViewBag.Title = "GetUserDonations";
}

<h2>GetUserDonations</h2>

<div>
@foreach(var it in Model)
{

        <h4>BloodDonorModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(it2 => it.Id)
            </dt>

            <dd>
                @Html.DisplayFor(it2 => it.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => it.DonationTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => it.DonationTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => it.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => it.City)
            </dd>

        </dl>
}
    </div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Home", "Index","Home")
</p>
