@model SistemZaDonaciiNaKrv.Models.DonatorFormModel

@{
    ViewBag.Title = "Пополни формулар";
}

    <h2>Пополни формулар</h2>

<style>
    .form-horizontal {
        border: 2px solid black;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    span.checkBoxStatus {
        padding-left: 15px;
        padding-right: 15px;
        font-weight: bold;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
   
    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.DonorId, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.DonorId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DonorId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.daliOdobreno, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-1">
        <div class="checkbox">
                            @Html.EditorFor(model => model.daliOdobreno)
        <span class="checkBoxStatus"></span>
        @Html.ValidationMessageFor(model => model.daliOdobreno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>*@

    @Html.HiddenFor(model => model.DonorId)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.Address)
    @Html.HiddenFor(model => model.Phone)
    @Html.HiddenFor(model => model.Email)



    <div class="form-group">
        @Html.LabelFor(model => model.daliDenesSeCuvstvuvateZdravi, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">
                @Html.EditorFor(model => model.daliDenesSeCuvstvuvateZdravi)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliDenesSeCuvstvuvateZdravi, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliDenesNastinkaGrip, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliDenesNastinkaGrip)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliDenesNastinkaGrip, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliLekuvaleZabi, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliLekuvaleZabi)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliLekuvaleZabi, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliVakcina, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliVakcina)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliVakcina, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliOperacija, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliOperacija)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliOperacija, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliOperacijaSeriozniMedIspituvanja, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliOperacijaSeriozniMedIspituvanja)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliOperacijaSeriozniMedIspituvanja, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliTetovaza, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliTetovaza)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliTetovaza, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliUbod, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliUbod)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliUbod, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliTransfuzija, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliTransfuzija)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliTransfuzija, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliBesnilo, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliBesnilo)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliBesnilo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliZoltica, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliZoltica)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliZoltica, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliBremeni, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliBremeni)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliBremeni, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliLekovi, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliLekovi)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliLekovi, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliHipofiza, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliHipofiza)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliHipofiza, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliMozocnaObvivka, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliMozocnaObvivka)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliMozocnaObvivka, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliRoznica, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliRoznica)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliRoznica, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliZolticaMalarija, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliZolticaMalarija)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliZolticaMalarija, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliSrceviPritisok, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliSrceviPritisok)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliSrceviPritisok, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliAlergjaAstma, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliAlergjaAstma)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliAlergjaAstma, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliGrcevi, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliGrcevi)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliGrcevi, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliHronicni, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliHronicni)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliHronicni, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliToksoPlazmoza, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliToksoPlazmoza)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliToksoPlazmoza, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliBruceloza, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliBruceloza)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliBruceloza, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliHiv, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliHiv)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliHiv, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliDroga, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliDroga)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliDroga, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliPariIliDrogaZaSex, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliPariIliDrogaZaSex)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliPariIliDrogaZaSex, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliHemofilijaSex, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliHemofilijaSex)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliHemofilijaSex, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliOdnosSoDrugMazi, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliOdnosSoDrugMazi)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliOdnosSoDrugMazi, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliSexSoMazKojImalSexSoDrugMaz, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliSexSoMazKojImalSexSoDrugMaz)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliSexSoMazKojImalSexSoDrugMaz, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliSexSoHivPozitivenIliZoltica, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliSexSoHivPozitivenIliZoltica)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliSexSoHivPozitivenIliZoltica, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliSexSoPrimatelNaDroga, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliSexSoPrimatelNaDroga)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliSexSoPrimatelNaDroga, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliSexSoPrimatelNaPariIliDrogaZaSex, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliSexSoPrimatelNaPariIliDrogaZaSex)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliSexSoPrimatelNaPariIliDrogaZaSex, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliCreutzfeldtJokob, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliCreutzfeldtJokob)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliCreutzfeldtJokob, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.daliPolovoPrenoslivaBolest, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-1">
            <div class="checkbox">

                @Html.EditorFor(model => model.daliPolovoPrenoslivaBolest)
                <span class="checkBoxStatus"></span>
                @Html.ValidationMessageFor(model => model.daliPolovoPrenoslivaBolest, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Испрати" class="btn btn-primary" />
            @Html.ActionLink("Врати се назад", "Index", "DonatorForm", new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section scripts{
    <script>
        function boxChecker () {
            if ($(this).is(":checked")) {
                $(this).parent().children(".checkBoxStatus").text("Да");
                $(this).parent().children(".checkBoxStatus").css("color", "green");
            }
            else {
                $(this).parent().children(".checkBoxStatus").text("Не");
                $(this).parent().children(".checkBoxStatus").css("color", "red");
            }
        }
        $(document).ready(function () {
            var forms = document.querySelectorAll(".form-group");
            forms.forEach(function (it, i) {
                if (i % 2 == 0)
                    it.classList.add("table-default");
                else
                    it.classList.add("table-secondary");
            });
            $("input.check-box").each(boxChecker);

            $(".btn[type=\"submit\"]").hover(function () {
                $(this).removeClass("btn-primary");
                $(this).addClass("btn-success");
            }, function () {
                $(this).addClass("btn-primary");
                $(this).removeClass("btn-success");
            });
            $(".btn[href^=\"/DonatorForm\"]").hover(function () {
                $(this).removeClass("btn-default");
                $(this).addClass("btn-danger");
            }, function () {
                $(this).addClass("btn-default");
                $(this).removeClass("btn-danger");
            });
            $("input.check-box").click(boxChecker);
        });
    </script>
}