@model IEnumerable<SistemZaDonaciiNaKrv.Models.DonatorFormModel>

@{
    ViewBag.Title = "Листа со одговорени формулари";
}

<h2>Листа со одговорени формулари:</h2>

<table class="table">

    <tr class="table-info">
        @*<th>
                @Html.DisplayNameFor(model => model.DonorId)
            </th>*@

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            <span>Одобрено:</span>
        </th>
        <th></th>
        <th></th>
    </tr>


    @{

        int i = 0;
        foreach (var item in Model)
        {
            <tr class="@(i%2==0?"table-default":"table-active")">
                @*<td>
                        @Html.DisplayFor(modelItem => item.DonorId)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.daliOdobreno)
                    {
                        <strong><span style="">Да</span></strong>
                    }
                    else
                    {
                        <strong><span style="">Не</span></strong>
                    }
                </td>

                <td>
                    <a style="width: 100px" href="/DonatorForm/Details/@item.Id" class="btn btn-outline-info">Прегледaj</a>
                    @*@Html.ActionLink("Прегледaj", "Details", new { id = item.Id })*@
                    <a style="width: 100px" id="deleteLink" form-id="@item.Id" class="btn btn-outline-danger deleteButton">Избриши</a>
                    @*@Html.ActionLink("Избриши формулар", "Delete", new { id = item.Id })*@
                    <style>
                        #deleteLink:hover {
                            color: white;
                        }
                        #deleteLink {
                            color: #dc3545;
                        }
                    </style>
                </td>

                <td>
                    @if (item.daliOdobreno)
                    {

                        <form action="/Home/BookAppointment">
                            <label for="appointment">Одбери датум:</label>
                            <input type="date" id="appointment" name="appointment">
                            <input type="email" id="email" hidden value="@item.Email" form-id="@item.Id" name="email">
                            <input type="text" id="formId" hidden value="@item.Id" form-id="@item.Id" name="formId">
                            <input type="submit" form-id="@item.Id" value="Закажи" id="deleteButton2" onclick="deleteRow()" class="btn btn-light btn-outline-primary float-right">
                        </form>

                        <script>

                            function makeAppointment() {
                                let appointment = document.getElementById("appointment").value;
                                let email = document.getElementById("email").value;
                                let formId = document.getElementById("formId").value;
                                if (appointment == "") {
                                    alert("Одберете датум.")
                                } else {
                                    $.get("/Home/BookAppointment?appointment=" + appointment + "&email=" + email + "&formId=" + formId);
                                    deleteRow(this);
                                }

                            }

                            function deleteRow() {

                                $("#deleteButton2").on("click", function () {
                                    var button = $(this);
                                    var button2 = this;
                        
                                    $.ajax({
                                        url: "/DonatorForm/Delete/" + button.attr("form-id"),
                                        method: "POST",
                                        success: function () {
                                            var row = button2.parentNode.parentNode;
                                            row.parentNode.removeChild(row);
                                        }
                                    });
                                });
                            }

                        </script>
                    }
                </td>
            </tr>
        i++;
        }
    }

</table>

@section scripts{
    
<script>

    $(function () {
        var table = document.querySelector(".table");
            $(".deleteButton").on("click", function () {
               var button = $(this);
                var button2 = this;
                bootbox.confirm("Дали сте сигурни?", function (result) {
                    if (result) {
                        $.ajax({
                    url: "/DonatorForm/Delete/" + button.attr("form-id"),
                    method: "POST",
                   success: function () {
                       var row = button2.parentNode.parentNode;
                       row.parentNode.removeChild(row);
                           
                        
                    }
                });
                   }

                })
               
            });
        });
    


</script>


}
