@model IEnumerable<SistemZaDonaciiNaKrv.Models.DonatorFormModel>

@{
    ViewBag.Title = "Листа со одговорени формулари";
}

<h2>Листа со одговорени формулари:</h2>

<table class="table">
 
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.DonorId)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                <span>Одобрено:</span>
            </th>

        </tr>
  
   
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.DonorId)
                </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.daliOdobreno)
                    {
                        <strong><span style="">Да</span></strong>
                    }
                    else
                    {
                        <strong><span style="">Не</span></strong>
                    }
                </td>

                <td>
                    @Html.ActionLink("Преглед на формулар", "Details", new { id = item.Id }) |
                    <a form-id="@item.Id" class="deleteButton">Избриши формулар</a>
                    @*@Html.ActionLink("Избриши формулар", "Delete", new { id = item.Id })*@
                </td>

                <td>
                    @if (item.daliOdobreno)
                    {
                        <a href="#" class="btn btn-primary">Закажи термин</a>
                    }
                </td>  
            </tr>
        }
   

</table>

@section scripts{
    
<script>

    $(function () {
        var table = document.querySelector(".table");
            $(".deleteButton").on("click", function () {
               var button = $(this);
                var button2 = this;
                bootbox.confirm("Дали сте сигурни?", function (result) {
                    if (result) {
                        $.ajax({
                    url: "/DonatorForm/Delete/" + button.attr("form-id"),
                    method: "POST",
                   success: function () {
                       var row = button2.parentNode.parentNode;


                       row.parentNode.removeChild(row);
                           
                        
                    }
                });
                   }

                })
               
            });
        });
    


</script>


}
